<html xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers">
<f:layout name="Backend" />

<f:section name="docheader-buttons">
	<a class="btn btn-default" href="javascript:document.configurationform.submit();" title="{f:translate(key:'LLL:EXT:lang/locallang_common.xlf:save')}">
		<core:icon identifier="actions-document-save" alternativeMarkupIdentifier="inline" />
	</a>

	<f:link.action action="sync" style="float: right; color: #660000; font-weight: bold; ">
		<core:icon identifier="actions-system-refresh" alternativeMarkupIdentifier="inline" />
		Start a full synchronisation (can take quite a while!)
	</f:link.action>
</f:section>

<f:section name="module-headline">
	<h3>Configuration</h3>
</f:section>

<f:section name="Content">
	<f:flashMessages />

	<div class="headerRow ui-helper-clearfix">
		<div class="typo3-extensionmanager-headerRowLeft">
		</div>
		<div class="typo3-extensionmanager-headerRowRight">
		</div>
	</div>
	<f:form action="configuration" name="configurationform">
	<table id="typo3-extension-list" class="t3-table typo3-extension-list">
		<thead>
			<tr>
				<th>MAM Field</th>
				<th>FAL Field</th>
				<th>Value Map</th>
			</tr>
		</thead>
		<tbody>
			<f:for each="{fields}" as="field">
				<tr>
					<td>{field.fieldName}</td>
					<td>
						<f:form.select name="fields[{field.uid}]" options="{falFields}" value="{field.fal_field}" />
					</td>
					<td>
						<f:form.textarea name="valueMaps[{field.uid}]" value="{field.value_map}" />
					</td>
				</tr>
			</f:for>
			<tr>
				<td></td>
				<td></td>
				<td>
					<br />
					<strong>Example:</strong><br />
					english: 1<br />
					german: 2<br />
					...
				</td>
			</tr>
		</tbody>
	</table>
	</f:form>
</f:section>
</html>