<f:layout name="Backend" />

<f:section name="docheader-buttons">
	<strong>Events pending: </strong> {totalPending}
	<strong style="margin-left: 10px;">Time remaining: </strong> {runtimes.remainingRuntime}
	<div style="float: right;">
		<strong>Runtime</strong> (average/min/max): {runtimes.averageRuntime}ms, {runtimes.minRuntime}ms, {runtimes.maxRuntime}ms
	</div>
</f:section>

<f:section name="module-headline">
	<h3>Dashboard</h3>
</f:section>

<f:section name="Content">
	<f:flashMessages renderMode="div" />

	<div class="headerRow ui-helper-clearfix">
		<div class="typo3-extensionmanager-headerRowLeft">
		</div>
		<div class="typo3-extensionmanager-headerRowRight">
		</div>
	</div>
	<table id="typo3-extension-list" class="t3-table typo3-extension-list">
		<thead>
			<tr>
				<th>ID</th>
				<th>Date</th>
				<th>Runtime</th>
				<th>Status</th>
				<th>Event Type</th>
				<th>Target</th>
				<th>Object ID</th>
				<th>waiting for file until</th>
			</tr>
		</thead>
		<tbody>
			<f:for each="{events}" as="event">
				<tr>
					<td>{event.event_id}</td>
					<td><f:format.date format="H:i:s d.m.Y">{event.crdate}</f:format.date></td>
					<td>{event.runtime}ms</td>
					<td>{event.status}</td>
					<td>{event.event_type}</td>
					<td>{event.target}</td>
					<td>{event.object_id}</td>
					<td>
						<f:if condition="{event.skipuntil}">
							<f:format.date format="H:i:s d.m.Y">{event.skipuntil}</f:format.date>
						</f:if>
					</td>
				</tr>
			</f:for>
		</tbody>
	</table>
</f:section>