<f:layout name="Backend" />

<f:section name="docheader-buttons">
	<strong>Events pending: </strong> {totalPending}
	<strong style="margin-left: 10px;">Time remaining: </strong> ~ {runtimes.remainingRuntime}
	<div style="float: right;">
		<strong>Runtime</strong> (average/event): {runtimes.averageRuntime}ms
	</div>
</f:section>

<f:section name="module-headline">
	<h3>Dashboard</h3>
</f:section>

<f:section name="Content">
	<style type="text/css">
		.filter-search {
			float: right;
		}
	</style>
	<f:flashMessages />

	<div class="headerRow ui-helper-clearfix">
		<div class="typo3-extensionmanager-headerRowLeft">
		</div>
		<div class="typo3-extensionmanager-headerRowRight">
		</div>
	</div>
	<f:form action="index" addQueryString="1">
		<f:if condition="{showAll}">
			<div class="filter">
				<f:form.textfield type="search" class="filter-search" placeholder="Search" value="{search}" />
			</div>
		</f:if>
		<table id="typo3-extension-list" class="t3-table typo3-extension-list">
			<thead>
				<tr>
					<th>ID</th>
					<th>Date</th>
					<th>Runtime</th>
					<th>Status</th>
					<th>Event Type</th>
					<th>Target</th>
					<th>Object ID</th>
					<th>waiting for file until</th>
				</tr>
			</thead>
			<tbody>
				<f:for each="{events}" as="event">
					<tr>
						<td>{event.event_id}</td>
						<td><f:format.date format="H:i:s d.m.Y">{event.crdate}</f:format.date></td>
						<td>{event.runtime}ms</td>
						<td>{event.status}</td>
						<td>{event.event_type}</td>
						<td>{event.target}</td>
						<td>{event.object_id}</td>
						<td>
							<f:if condition="{event.skipuntil}">
								<f:format.date format="H:i:s d.m.Y">{event.skipuntil}</f:format.date>
							</f:if>
						</td>
					</tr>
				</f:for>
			</tbody>
		</table>
	</f:form>


	<table id="typo3-extension-list" class="t3-table typo3-extension-list">
		<thead>
			<tr>
				<th>UID</th>
				<th>ClassName</th>
				<th>Running</th>
				<th>Last Execution</th>
				<th>Next Execution</th>
				<th>Execution Failed</th>
				<th>Disabled</th>
			</tr>
		</thead>
		<tbody>
			<f:for each="{schedulerTasks}" as="schedulerTask">
				<tr>
					<td>{schedulerTask.uid}</td>
					<td>{schedulerTask.className}</td>
					<td>{schedulerTask.running}</td>
					<td>{schedulerTask.lastexecution_time}</td>
					<td>{schedulerTask.nextexecution}</td>
					<td>{schedulerTask.lastexecution_failure}</td>
					<td>{schedulerTask.disabled}</td>
				</tr>
			</f:for>
		</tbody>
	</table>
</f:section>